body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecbdd7;
    margin: 0;
}

.converter {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.converter h1{
    color:yellowgreen;
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #54b48f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #10549c94;
}
